.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pro__item {
  width: 250px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  line-height: 2;
  position: relative;
  object-fit: contain;
  padding-left: 10px;
  margin-top: 30px;
  padding-top: 10px;
}
 .pro__img {
  width: 85%;
  height: 200px;
  object-fit: contain;
}
.pro__heart {
  position: absolute;
  top: 50px;
  right: 5px;
  font-size: 20px;
  color: #afadad;
}
.pro__shop {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 20px;
  color: #fff;
  background: var(--bg);
  border-radius: 6px;
}
.pro__cheg{
  width: 75px;
  font-size: 10px;
  border-radius: 6px;
  background: gold;
position: absolute;
}
.stars{
  display: flex;
  gap: 5px;
  color: var(--bg);
}
.pro__item del{
  color: rgb(186, 71, 109);
}
.btn2{
width: 220px;
}